@import "jquery.toolbar.scss";
@import "jqtree.scss";
@import "zurb5-multiselect.scss";

/* Sortable View
------------------------------------------------------ */

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.sortable-view > li {
  float: left;
  position: relative;
  clear: both;
  padding: 20px 0px 20px 30px;
}

.sortable-view > li:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 5px;
  top: 10%;
  height: 80%;
  width: 6px;
  border: 2px dotted rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: move;
}

.sortable-view > li:hover:after {
  border: 2px dotted rgba(0, 0, 0, 0.3);
}

.sortable-view > li.over {
  background-color: transparent;
  border: 3px dotted rgba(0, 0, 0, 0.3);
}

.sortable-view > li.over:after {
  display: none;
}

.sortable-view > li.over > * {
  visibility: hidden;
}

/* Entity Tree View */
* {
  margin: 0;
  padding: 0;
}

#page-wrap {
  margin: auto 0;
}

.treeview {
  margin: 10px 0 0 20px;
}

ul {
  list-style: none;
}

.treeview li {
  background: url(http://jquery.bassistance.de/treeview/images/treeview-default-line.gif) 0 0 no-repeat;
  padding: 2px 0 2px 16px;
}

.treeview > li:first-child > label {
  /* style for the root element - IE8 supports :first-child
  but not :last-child ..... */

}

.treeview li.last {
  background-position: 0 -1766px;
}

.treeview li > input {
  height: 16px;
  width: 16px;
  /* hide the inputs but keep them in the layout with events (use opacity) */
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}

.treeview li > label {
  background: url(http://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
  /* move left to cover the original checkbox area */
  margin-left: -20px;
  /* pad the text to make room for image */
  padding-left: 20px;
}

/* Unchecked styles */

.treeview .custom-unchecked {
  background-position: 0 -1px;
}

.treeview .custom-unchecked:hover {
  background-position: 0 -21px;
}

/* Checked styles */

.treeview .custom-checked {
  background-position: 0 -81px;
}

.treeview .custom-checked:hover {
  background-position: 0 -101px;
}

/* Indeterminate styles */

.treeview .custom-indeterminate {
  background-position: 0 -141px;
}

.treeview .custom-indeterminate:hover {
  background-position: 0 -121px;
}

.entity-layout-nested {
  margin: 15px 0px;
}

/* Links
------------------------------------------------------------*/
.not-active {
  pointer-events: none;
  cursor: default;
}

/* Forms
------------------------------------------------------------*/
.fieldWrapper {
  margin-top: 10px !important;
}

/* Document Tree
------------------------------------------------------------*/
.tree-actions {
  display: none;
}

/* Document
------------------------------------------------------------*/
.documentRegion > .row > .columns {
  padding: 0px !important;
}

/* Entity Layout
------------------------------------------------------------*/
.entity-list-item {
  margin: 5px 0px;
  padding: 5px 0px;
  fieldset {
    margin: 0 !important;;
    label {
      margin-left: 0 !important;
    }
    input {
      margin: 0 !important;
    }
  }

  .inline-list {
    margin-bottom: 0 !important;
  }

  i {
    color: $secondary-color;
  }
}

.entity-list-item:nth-child(even) {
  background-color: $background-color;
}

/* Icons
------------------------------------------------------------*/
.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}