<div class="row">
    <div class="entity-header col-sm-12">
    </div>
    <div class="col-sm-12">
        <div class="filter-region">
        </div>
        <div class="form-group sub-nav actions">
        </div>
    </div><!-- /col -->
</div><!-- /container -->
<div class="row">
    <div class="list-group entityRegion">
    </div>
</div>
<div class="filterEntities row">
    <div class="col-xs-7">
        <div class="pagerRegion "></div>
    </div>
    <div class="col-xs-5">
        <div class="page-size-region"></div>
    </div>
</div>