<script type="text/template" id="multi-select-layout-template">
    <span data-tooltip aria-haspopup="true" title="" class="has-tip zmshead">
        Selected
    </span>
    <div class="row optionsRegion">
        <div class="large-6 columns">
            <div class="row options"></div>
            <div class="row">
                <div class="large-12 columns large-centered text-center">
                    <button style="display:none;" class="button small add-items" href="#">Add</button>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="row selectedOptions"></div>
            <div class="row">
                <div class="large-12 columns large-centered text-center">
                    <button style="display:none;" class="button small text-center remove-items">Remove</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>