<div class="row">
    <div class="col-sm-6 date input-group">
        <input type="text" class="form-control bootstrap-datepicker" data-field="<%= dataField %>_date" value="<%= date %>" />
        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
    </div>
    <div class="col-sm-6 time input-group time-picker-pf">
        <input type="text" class="form-control" data-field="<%= dataField %>_time" value="<%= time %>"/>
        <span class="input-group-addon btn btn-default">
            <span class="fa fa-clock-o"></span>
        </span>
    </div>
</div>