<script type="text/template" id="image-field-template">
    <div class="large-3 columns">
        <a style="display:none;" class="th radius" href="#">
            <img id="uploadedImage<%= dataField %>" class="uploadedImage"/>
        </a>
        <input name="<%= dataField %>" data-field="<%= dataField %>" type="hidden" value="<%= value %>"/>
    </div>
    <div class="large-9 columns">
        <button type="button" onclick="BrowseServer('<%= dataField %>');" class="pickImage">Pick Image</button>
    </div>
</script>