<div class="container-fluid">
    <div class="entity-header row">
    </div>
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <div class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <label class="sr-only" for="filter">Name</label>

                    <div class="input-group col-sm-12">
                        <input type="text" class="form-control nameFilter" id="filter" placeholder="Filter By Name...">
                    </div><!-- /input-group -->
                </div>
                <div class="form-group sub-nav">
                    <button type="button" class="get-all btn btn-default">
                        All
                    </button>
                    <% if(showCreate){ %>
                    <button type="button" class="create btn btn-primary">
                        Create
                    </button>
                    <% } %>
                    <% if(allowDeleteAll || allowPublishAll || allowAddAll) { %>
                    <% if(allowDeleteAll){ %>
                    <button type="button" class="btn btn-danger multi-action-requests <%= btnClass %> delete-all">Delete All</button>
                    <% } %>

                    <% if(allowPublishAll){ %>
                    <button type="button" class="btn btn-default multi-action-requests <%= btnClass %> publish-all">Publish All</button>
                    <% } %>

                    <% if(allowAddAll){ %>
                    <button type="button" class="btn btn-default multi-action-requests <%= btnClass %> add-all">Add All</button>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->

<div class="container-fluid">
    <div class="list-group list-view-pf list-view-pf-view entityRegion">

    </div>
    <div class="filterEntities row">
        <div class="pagerRegion col-sm-12"></div>
    </div>
</div>

<div class="modal fade delete-all-modal" tabindex="-1" role="dialog" aria-labelledby="delete-all-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title">Delete All?</h4>
            </div>
            <div class="modal-body message">
                Are you sure you want to delete these items?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes">Yes</button>
                <button type="button" class="btn btn-default no" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade publish-all-modal" tabindex="-1" role="dialog" aria-labelledby="publish-all-modal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title">Publish All?</h4>
            </div>
            <div class="modal-body message">
                Are you sure you want to publish these items?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes">Yes</button>
                <button type="button" class="btn btn-default no" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title">Delete Item</h4>
            </div>
            <div class="modal-body message">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yes">Yes</button>
                <button type="button" class="btn btn-default no" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>