<script type="text/template" id="entity-form-layout-template">
    <div class="entity-form-layout form">
        <div class="entityFormRegion row">

        </div>
        <div class="row">
            <div class="messagesRegion large-12 columns">

            </div>
            <div class="large-12 columns actions">
                <input type="submit" name="submit" class="secondary button <%= btnClass %>"/>
                <button class="secondary button <%= btnClass %> reset">Reset</button>
            </div>
        </div>
    </div>
    <div class="warningModal tiny reveal-modal" style="display:none;" data-reveal>
        <p class="lead message"></p>
        <div class="row">
            <div class="buttons large-5 large-centered columns">
                <a href="#" class="button yes">Yes</a>
                <a href="#" class="button no">No</a>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</script>