<script type="text/template" id="entity-list-template">
<div class="listings"></div>
<div class="deleteModal tiny reveal-modal" style="display:none;" data-reveal>
    <p class="message">Are you sure you want to delete this item?</p>
    <div class="row">
        <div class="large-5 large-centered columns">
            <a href="#" class="button yes">Yes</a>
            <a href="#" class="button no">No</a>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
</script>