<div class="row">
    <div class="list-view-checkbox col-xs-1 col-sm-1">
        <input class="multi-action" data-id="<%= id %>" id="<%= route %><%=id%>" type="checkbox">
    </div>

    <div class="col-xs-9 col-sm-10 list-view-additional-info">
        <div class="fieldsRegion"></div>
    </div>

    <div class="list-view-actions col-sm-1 col-xs-1">
        <div class="dropdown pull-right">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdown<%= route %><%=id%>"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right actions" aria-labelledby="dropdown<%= route %><%=id%>">
            </ul>
        </div>
    </div>
</div>