<script type="text/template" id="document-tree-template">
    <ul class="documentTreeRegion treeview">

    </ul>
    <div class="clearfix"></div>

    <div class="row tree-actions">
        <div class="large-6 columns end">
            <ul class="button-group radius even-2">
                <li>
                    <button class="button tiny radius removeSelected">Remove Selected</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="multiPickerRegion">

    </div>
</script>